body {
    background-color: bisque;
}

h1 {
    color: maroon;
}

p {
    color: green;
}

#itemLists {
    width:800px;
}

#list1{
    width:400px; float:left;
}

#list2 {
    width:400px; float:right;
}